#labelHeader {
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
}
#title {
    margin-top: 1%;
}
#hamburger {
    margin-top: 4.5vh;
}
#pages {
    margin-left: 3%;
}


@media (max-width:700px) {
    #header {
        display: flex;
        flex-wrap: wrap;
    }
    #Link {
        flex-basis: 100%;
    }
    #hamburger {
       padding-left: 5vh;
       margin-top: 0vh;
       margin-bottom: 2vh;

    }
   
}

   
