#about-photo {
    background-image: url('https://images.unsplash.com/photo-1638493489135-34bf34dd320b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80');
    height: 60vh;
    width: 65vh;
    background-position: center;
    background-size: cover;
    margin-right: 10vh;
}

#text-content {
    background-position: center;
    height: 80vh;

}

@media (max-width: 700px) {
    #about-photo {
        margin-right: 0%;
        padding: auto;
    }
    #text-content {
        background-position: center;
        height: 100vh;
        padding: 8%;
        margin-bottom: 15%;
    
    }
}