#home {
    background-image: url("https://images.unsplash.com/photo-1619982842225-871a5d15e73a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
    height: 80vh;
    background-position: center;
    background-size: cover;
}

#text {
    color: white;
}
